$enable-negative-margins: true;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": #abd4fa,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #050505,
);
// scss-docs-end theme-colors-map

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.65rem;
$input-btn-padding-x: 0.9rem;
$input-btn-font-family: null;
// $input-btn-font-size:         $font-size-base !default;
// $input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width: 0.25rem !default;
$input-btn-focus-color-opacity: 0.25 !default;
// $input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur: 0 !default;
// $input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
// $input-btn-font-size-sm:      $font-size-sm !default;

$input-btn-padding-y-lg: 0.5rem !default;
$input-btn-padding-x-lg: 1rem !default;
// $input-btn-font-size-lg:      $font-size-lg !default;

// $input-btn-border-width:      $border-width !default;
// scss-docs-end input-btn-variables

// scss-docs-start border-radius-variables
$border-radius: 0.5rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-pill: 50rem;
// scss-docs-end border-radius-variables

// Links
//
// Style anchor elements.

// $link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
// $link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;
