.banner-bg {
  background-image: url("../../public/assets/images/headerbg.jpg");
  background-repeat: no-repeat;
  background-color: #7f8fff;
  background-position: top right;
  h1 {
    color: white;
    font-size: 275%;
    font-weight: 700;
    span {
      display: block;
      font-size: 140%;
      font-weight: 800;
    }
  }
  p {
    color: #ffffff;
  }
}

section {
  padding: 2% 0;
  border-bottom: 8px solid #55dbff;
}

h2 {
  color: #5782ff;
  span {
    display: block;
    font-size: 50%;
    color: black;
  }
}

ul {
  &.font-big {
    margin-bottom: 0;
    li {
      font-size: 108%;
      line-height: 1.4;
      margin-bottom: 1%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.seller-flow {
  list-style: none;
  li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    h5 {
      color: #3598c5;
    }
    hr {
      border: 3px solid #3598c5;
      margin-left: 40%;
      opacity: 1;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .sub-text {
      text-align: right;
      padding-left: 40px;
      color: #3598c5;
    }
    &.top-up {
      img {
        margin-bottom: -30%;
      }
      position: relative;
      .sub-text {
        padding-right: 20px;
      }
      // margin-top: -10%;
    }
    &.f-2 {
      h5 {
        color: #3e35c5;
      }
      hr {
        border-color: #3e35c5 !important;
      }
      .sub-text {
        color: #3e35c5;
      }
    }
    &.f-3 {
      h5 {
        color: #6723b8;
      }
      hr {
        border-color: #6723b8 !important;
      }
      .sub-text {
        color: #6723b8;
      }
    }
    &.f-4 {
      h5 {
        color: #c5357c;
      }
      hr {
        border-color: #c5357c !important;
      }
      .sub-text {
        color: #c5357c;
      }
    }
    &.f-5 {
      h5 {
        color: #c53546;
      }
      hr {
        border-color: #c53546 !important;
      }
      .sub-text {
        color: #c53546;
      }
    }
  }
}

.buyers-flow{
  list-style: none;
  margin: auto 10%;
  li{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    color: #3598c5;
    h3{
      font-size: 50px;
      font-weight: 900;
      margin-bottom: 0;
      line-height: 1;
    }
    .lead{
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
