.me-2{
    background-color: #34C759;
    color:white;
    position: fixed;
    border-color: #34C759;
    bottom: 50px;
    height: 60px;
    width: 100%;
    border: none;

}

.popup{
    background-color: #f5f1ed;
    position:relative;
    padding-bottom:20px;
    display: flex;
  }
.carLog {
    width: 46.7px;
    height: 46.7px;
    right: -2px;
    position: relative;
    bottom: 32px;
    border: none;
    display: flex;
}
.callLog{
    position:relative;
    display: flex;
    left: 295px;
    width: 53px;
    height: 57px;
    bottom: 80px;
}
.titlle {
    position:fixed;
     display: flex;
    right: 2.9cm;
   font-size: 24px;
   font-weight: 500;
   top: 60%;

}
.h6{
    display: flex;
     position: absolute;
    bottom: 6.5cm;
    left: 80px;
    width: 80%;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
     border: none;
}
.hr{
    display: flex;
    position: relative;
    bottom:2.2cm;
    right: 14px;
    border:none;
   border-top:1px dashed;
   color:black;
   height:1px;
  width:108%;

}
.loc{
    display: flex;
    position: relative;
    bottom:2.1cm;
    left: 20px;
    margin-bottom: 10px;    
}
.sub {
    display: flex;
    position: relative;
    bottom: 3cm;
    left: 1.5cm;
    font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 18px;   
   white-space: nowrap;
   text-overflow: ellipsis;
}
.min{
   display: flex;
   position: relative;
   bottom: 80px;
   left: 60px;
   font-weight: 400;
font-size: 14px;
line-height: 21px;
white-space: nowrap;
text-overflow: ellipsis;
}

.kms{
    display: flex;
    position: relative;
    bottom: 2.9cm;
    left: 5.6cm;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
 }