.me-2{
    background-color: #34C759;
    color:white;
    position: fixed;
    border-color: #34C759;
    bottom: 35px;

}

.popup{
    background-color: #f5f1ed;
    position:relative;
    padding-bottom:20px;
  }
.carLog {
    width: 46.7px;
    height: 46.7px;
    right: -2px;
    position: relative;
    bottom: 32px;
}
.callLog{
    position:relative;
    display: flex;
    left: 295px;
    width: 53px;
    height: 57px;
    bottom: 80px;
}
.titlle {
    position:absolute;
    display: flex;
    right: 95px;
   font-size: 24px;
   font-weight: 500;
   top: 20px;

}
.h6{
    display: flex;
     position: relative;
    bottom: 93px;
    left: 60px;
    width: 229px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
}
.hr{
    display: flex;
    position: relative;
    bottom:100px;
    right: 14px;
    border:none;
   border-top:1px dashed;
   color:black;
   height:1px;
  width:108%;
}
.loc{
    display: flex;
    position: relative;
    bottom:78px;
    left: 20px;
    margin-bottom: 10px;    
}
.sub {
    display: flex;
    position: relative;
    bottom: 110px;
    left: 60px;
    font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 18px;   
   white-space: nowrap;
   text-overflow: ellipsis;
}
.min{
   display: flex;
   position: relative;
   bottom: 80px;
   left: 60px;
   font-weight: 400;
font-size: 14px;
line-height: 21px;
white-space: nowrap;
text-overflow: ellipsis;
}

.kms{
    display: flex;
    position: relative;
    bottom: 110px;
    left: 200px;
    font-weight: 400;
   font-size: 14px;
    line-height: 21px;
    
 }