/* todo: delete file if not needed */
.left-section {
  border-top-right-radius: 200px;
  overflow: hidden;
  .round-1 {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    right: 10%;
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      bottom: 12%;
      left: -29%;
    }
    &:after {
      content: "";
      width: 30px;
      height: 30px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      bottom: -25%;
      left: 29%;
    }
  }
  .round-2 {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -10%;
    left: -50px;
    &:before {
      content: "";
      width: 50px;
      height: 50px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      top: 12%;
      right: -29%;
    }
    &:after {
      content: "";
      width: 30px;
      height: 30px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      top: -25%;
      right: 29%;
    }
  }
}

.error {
  color: #ff0000;
  font-weight: 600;
  font-size: 18px;
  height: 30px;
  padding: 5px;
}

.signup-form {
  .form-control {
    &:focus {
      border: 2px solid #ffffff !important;
      filter: drop-shadow(12px 12px 24px rgba(0, 0, 0, 0.25)) !important;
      border-radius: 24px !important;
    }
  }
  .anchor-button {
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    height: 100px;
    color: #ffffff;
  }
  button {
    font-weight: 400;
    font-size: 32px;
    background: grey;
    border-radius: 24px;
    height: 100px;
    color: white;
    &:hover {
      background: #abd4fa;
      border: 2px solid #ffffff;
      color: #000000;
    }
  }
  input,
  select {
    border: 2px solid #ffffff;
    filter: drop-shadow(12px 12px 24px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    height: 76px;
  }
}
